.result{

    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 2px solid ;
    border-bottom: 2px solid;
    border-left: 2px solid ;
    border-right: 2px solid;
    background-color: white;
    border-radius: 20px;
    
}

.result h3,  .result h4 {
    font-weight: normal;
}
.result strong {
    font-weight:  bold;
}